{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    ["@babel/plugin-proposal-class-properties", {}, "Jest breaks without this, but parcel breaks wihtout a unique name"],
    "@babel/plugin-transform-runtime"
  ]
}