/* Game pieces */
@import './hex.scss';
@import './pieces.scss';

/* Components */
@import './Game.scss';
@import './Chat.scss';
@import './z-index.scss';

.app-content {
  position: relative;
  &:focus {
    outline: none;
  }
  .app-inner {
    position: fixed;
    top: 77px;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.app-content.debug {
  [data-index]:after {
    background: rgba(255,255,255,0.45);
    content: attr(data-index);
    position: absolute;
  }
}

.TutorialNav {
  padding: 20px 0 0;
  font-size: 6.5px;
}

.rjsf {
  .has-help {
    @apply flex items-center;
    label { @apply mr-2; }
  }
  #root_variants {
    legend {
      @apply block text-gray-600 text-sm font-bold mb-1;
    }
    .form-group {
      @apply mb-0;
    }
  }
}

.NewGame {
  @apply flex border p-4 mt-8 shadow max-w-xl mx-2 flex-wrap;
  .rjsf {
    margin-right: 30px;
    width: 200px;
  }
  .RuleList {
    padding-left: 10px;
    width: 300px;
    @apply mt-8;
    .TutorialNav {
      font-size: 12px;
      flex-basis: 300px;
    }
  }
}