/* Game pieces */
@import './hex.scss';
@import './pieces.scss';

/* Components */
@import './Game.scss';
@import './Chat.scss';
@import './z-index.scss';

.app-content {
  position: relative;
  &:focus {
    outline: none;
  }
}

.rjsf {
  .checkboxes {
    @apply flex flex-wrap;
    .checkbox {
      @apply pr-4 w-1/2;
    }
  }
}

.app-content.debug {
  [data-index]:after {
    background: rgba(255,255,255,0.45);
    content: attr(data-index);
    position: absolute;
  }
}

.TutorialNav {
  padding: 20px 0 0;
  font-size: 6.5px;
}

.rjsf {
  .has-help {
    @apply flex items-center;
    label { @apply mr-2; }
  }
  #root_variants {
    legend {
      @apply block text-gray-600 text-sm font-bold mb-1;
    }
    .form-group {
      @apply mb-0;
    }
  }
}