@import "./var.scss";

.Game {
  overflow: hidden;
  flex-shrink: 1;
  position: relative;
  .scroll-box {
    overflow: scroll;
    height: 100%;
    width: 100%;
    .inner {
      height: 2000px;
      padding: 2 * $size (4 * $size);
      position: relative;
      width: 2000px;
      .hex-grid {
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        &.hex-pointy {
          transform: translate(-50%, -50%) rotate(30deg);
        }
      }
    }
  }
}

.Game {
  .player_1, .player_2 {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }
  .player_1 {
    left: $size / 2;
  }
  .player_2 {
    right: #{$size / 2};
  }
}
