@import "./var.scss";

.hex-grid {
  --columns: 5; /* should be overwrittenby component */
  font-size: 16px;
  .row {
    width: calc(var(--columns) * #{$cell_w + $buffer});
    display: flex;
  }
  .item {
    @apply relative;
    width: $hex_w / 2 + $buffer;
    height: $hex_h + $buffer;
    margin: 0 $hex_w / 8;
    .content {
      height: $hex_h;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: $hex_w;
    }
    &:nth-child(even) .content {
      margin-top: - ($hex_h / 2 + 0.08em);
    }
  }
}

.hex {
  background-size: contain;
}

.hex.debug {
  float: left;
  width: $hex_w * 2;
  height: $hex_h * 2;
}