$types: ant beetle centipede grasshopper lady_bug mosquito pill_bug queen spider dragonfly fly mantis wasp scorpion cockroach;

@each $type in $types {
  .piece.type-#{$type}:before {
    background-image: url(../images/pieces/#{$type}.png);
    .theme-carbon & {
      background-image: url(../images/pieces/#{$type}_dark.png);
    }
  }
}

.dummy_piece {
  height: $hex_h;
  width: $hex_w;
}

.piece {
  @apply flex items-center justify-center absolute w-full h-full z-0;
  cursor: pointer;

  /* a few bugs are too dark on the black tiles. This is overwritten by invert in carbon theme */
  &.hex-player_2.type- {
    &spider:before, &scorpion:before, &fly:before, &pill_bug:before {
      filter: brightness(1.75);
    }
  }
  &.hex-player_2.type-scorpion.gray{
    filter: grayscale(0.5);
    &:before {
      opacity: 1;
      filter: brightness(2);
    }
  }

  /* same as above but too bright for white*/
  &.hex-player_1.type- {
    &grasshopper:before {
      filter: brightness(0.8);
    }
  }

  &.hex-player_2.type-hive:before {
    filter: invert(0.8);
  }

  /* some bugs are off center and need to be shifted */
  &.hex.type- {
    &scorpion:before, &dragonfly:before {
      margin-left: 10%;
    }
    &fly:before {
      margin-left: 15%;
    }
    &spider:before, &queen:before {
      margin-top: 5%;
    }
  }

  .theme-carbon &.hex-player_2:before {
    filter: invert(1);
  }
  &.type:before {
    content: "";
    display: block;
    width: 60%;
    height: 65%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
  }

  &.gray {
    filter: grayscale(0.5);
    &:before {
      opacity: 0.85;
    }
  }
}

.rule-venom_centipede .piece.type-centipede:before,
.type-venom_centipede:before {
  background-image: url(../images/pieces/venom_centipede.png);
}

.theme-carbon {
  &.rule-venom_centipede .piece.type-centipede:before,
  .type-venom_centipede:before {
    background-image: url(../images/pieces/venom_centipede_dark.png);
  }
}

.rule-spiderwebs .piece.type-spider:after,
.rule-super_grasshopper .piece.type-grasshopper:after,
.rule-queen_lock .piece.type-queen:after,
.rule-lotus_mantis .piece.type-mantis:after {
  content: '';
  display: block;
  width: 80%;
  height: 80%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.2;
  z-index: -1;
}

.rule-spiderwebs .hex-player_2.piece.type-spider:after,
.rule-super_grasshopper .hex-player_2.piece.type-grasshopper:after,
.rule-queen_lock .hex-player_2.piece.type-queen:after,
.rule-lotus_mantis .hex-player_2.piece.type-lotus:after {
  filter: invert(1) hue-rotate(-180deg);
  opacity: 0.15;
}

.rule-lotus_mantis .piece.type-mantis, .piece.type-lotus_mantis {
  &:after {
    background-image: url('../images/icons/lotus.png')
  }
  &.hex-player_2:after {
    filter: invert(1);
  }
}

.rule-damselfly .piece.type-dragonfly,
.piece.type-damselfly {
  &:before {
    background-image: url('../images/pieces/damselfly.png');
  }
  &.hex-player_1:before {
    filter: invert(1) hue-rotate(-180deg);
  }
  &.hex-player_2:before {
    filter: brightness(1.25);
  }
}

.rule-spiderwebs .piece.type-spider:after {
  background-image: url('../images/icons/trap.png');
}

.rule-super_grasshopper .piece.type-grasshopper:after {
  background-image: url('../images/icons/blockchain.png');
}

.rule-queen_lock .piece.type-queen:after {
  background-image: url('../images/icons/comb-19.png');
}

.piece.type-basics,
.piece.type-onehive,
.piece.type-stacks {
  @apply flex items-center justify-center;
  &.hex-player_2 { color: white; }
  &:before {
    font-size: 3em;
    height: unset;
    width: unset;
  }
}

.piece.type-basics:before {
  content: "1";
}
.piece.type-onehive:before {
  content: "2";
}
.piece.type-stacks:before {
  content: "3";
}

.piece.type-lotus_mantis:before {
  background-image: url('../images/icons/lotus.png');
}

.piece.type-super_grasshopper:before {
  background-image: url('../images/icons/blockchain.png');
}

.piece.type-spiderwebs:before {
  background-image: url('../images/icons/trap.png');
}

.piece.type-no_rules:before {
  background-image: url('../images/icons/cancel.png');
}

.piece.type-unlimited:before {
  background-image: url('../images/icons/endless.png');
}

.piece.type-queen_lock:before {
  background-image: url('../images/icons/comb-19.png');
  height: 80%;
  width: 75%;
}

.hex-player_2.piece.type- {
  &super_grasshopper, &spiderwebs, &no_rules, &unlimited, &queen_lock, &lotus_mantis {
    &:before {
      filter: invert(0.9);
    }
  }
}