$types: ant beetle centipede grasshopper lady_bug mosquito pill_bug queen spider dragonfly fly mantis wasp scorpion cockroach cicada earthworm trapdoor_spider orbweaver lanternfly;

@each $type in $types {
  .piece.type-#{$type}:before {
    background-image: url(../images/pieces/#{$type}.svg);
  }
}

.dummy_piece {
  height: $hex_h;
  width: $hex_w;
}

.piece {
  @apply flex items-center justify-center absolute w-full h-full z-0;
  cursor: pointer;

  /* some bugs are off center and need to be shifted */
  &.hex.type- {
    &scorpion:before, &dragonfly:before {
      margin-left: 10%;
    }
    &fly:before {
      margin-left: 15%;
    }
    &spider:before, &queen:before, &trapdoor_spider:before, &orbweaver:before {
      margin-top: 5%;
    }
    &orbweaver:before {
      height: 100%;
    }
    &earthworm:before {
      margin-top: 15%;
    }
  }

  &.hex-player_2.hex.type- {
    &scorpion:before, &spider:before, &trapdoor_spider:before {
      filter: brightness(1.5);
    }
  }

  &.hex-player_2.hex.type- {
    &lanternfly:before {
      filter: brightness(1.25);
    }
  }

  .theme-carbon &:before {
    filter: brightness(0) !important;
  }
  .theme-carbon &.hex-player_2:before {
    filter: brightness(0) invert(1) !important;
  }
  &.type:before {
    content: "";
    display: block;
    width: 60%;
    height: 65%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
  }

  &.gray {
    filter: grayscale(0.5);
    &:before {
      opacity: 0.85;
    }
  }
}

/* webs - show where you can't move */
[data-web="crawl"]:after,
[data-web="crawl-gray"]:after,
[data-web="fly"]:after {
  content: '';
  background-image: url('../images/icons/trap_red.png');
  display: block;
  width: 80%;
  height: 80%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  opacity: 0.4;
  z-index: 3;
}

[data-web="crawl-gray"]:after {
  background-image: url('../images/icons/trap.png');
  filter: invert(1);
  opacity: 0.2;
}

[data-web="crawl"]:after,
[data-web="crawl-green"]:after {
  opacity: 0.8;
}

/* tutorial only */
.piece.type-basics,
.piece.type-onehive,
.piece.type-stacks {
  @apply flex items-center justify-center;
  &.hex-player_1 { color: #111; }
  &.hex-player_2 { color: white; }
  &:before {
    font-size: 3em;
    height: unset;
    width: unset;
  }
}

.piece.type-basics:before {
  content: "1";
}
.piece.type-onehive:before {
  content: "2";
}
.piece.type-stacks:before {
  content: "3";
}

/* stack size for NewGame */
[data-web="stack"]:after {
  @apply text-red-600 flex w-full h-full justify-center items-center absolute;
  content: "\f00d";
  font-family: "FontAwesome";
  font-size: 4rem;
  pointer-events: none;
}

/* rules for NewGame screen */
.piece.type-no_rules:before {
  background-image: url('../images/icons/cancel.png');
}

.piece.type-unlimited:before {
  background-image: url('../images/icons/endless.png');
}

.piece.type-no_rules, .piece.type-unlimited {
  &.hex-player_2:before {
    filter: invert(1);
  }
}