$custom: dragonfly fly mantis wasp scorpion cockroach;
$original: ant beetle centipede grasshopper lady_bug mosquito pill_bug queen spider;

@each $type in $original {
  .piece.type-#{$type}:before {
    background-image: url(../images/pieces/#{$type}.png);
    body.theme-charcoal & {
      background-image: url(../images/original/#{$type}.png);
    }
  }
}

@each $type in $custom {
  .piece.type-#{$type}:before {
    background-image: url(../images/pieces/#{$type}.png);
    body.theme-charcoal & {
      background-image: url(../images/custom/#{$type}.png);
    }
  }
}

.piece {
  @apply flex items-center justify-center absolute w-full h-full;
  cursor: pointer;
  &.hex-player_2.type-spider:before {
    filter: brightness(2);
  }
  body.theme-charcoal &.hex-player_2:before {
    filter: invert(1);
  }
  &.type:before {
    content: "";
    display: block;
    width: 60%;
    height: 75%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}
