@import './tailwind.css';
@import './views.css';

/* Game pieces */
@import './hex.css';
@import './pieces.css';
@import './tutorial.css';

/* Components */
@import './scrollbar.css';
@import './game.css';
@import './arrows.css';
@import './chat.css';
@import './online-room.css';
@import './ai-panel.css';
@import './unrest.css';
@import './z-index.css';

#app, html, body {
  height: 100%;
}

body {
  overflow: hidden;
}

[data-theme="dark"] {
  .highlight-green {
    @apply bg-green-500;
  }
  .highlight-red {
    @apply bg-red-800;
  }
  select, input[type="number"] {
    @apply bg-app-bg text-app-text;
  }
}

/* app shell layout */
#app[data-v-app] {
  @apply flex flex-col;
  .router-view {
    flex-grow: 1;
  }
}

/* TODO everything below this needs to be reintegrated */

.router-view.debug {
  [data-index]:after {
    @apply text-app-text bg-app-bg;
    content: attr(data-index);
    position: absolute;
  }
}

.rjsf {
  .has-help {
    @apply flex items-center;
    label { @apply mr-2; }
  }
  #root_variants {
    legend {
      @apply block text-gray-600 text-sm font-bold mb-1;
    }
    .form-group {
      @apply mb-0;
    }
  }
}

.new-game__wrapper {
  @apply flex h-full items-center justify-center overflow-auto;
}

.new-game__mobile {
  display: none;
}

@media (max-width: 640px) {
  .new-game__mobile {
    @apply flex justify-between;
  }
  .new-game__col {
    &.-desktop {
      display: none;
    }
    .new-game__row.-center & {
      width: unset;
    }
  }
}

.new-game {
  @apply border p-4 shadow bg-app-bg rounded-lg;
  @apply flex flex-col gap-4;
  width: 672px;
}

.new-game__row {
  @apply flex items-center gap-8;
  &.-center {
    @apply justify-center;
  }
}

.new-game__col {
  @apply w-1/2;
}

.new-game__hover-piece {
  @apply flex items-center text-3xl font-bold gap-x-2;
}

.new-game__hover-inner {
  @apply relative;
  height: 32px;
  width: 36px;
}

.new-game__preset {
  @apply flex pb-2;
}

.new-game__presets {
  @apply flex flex-col items-center;
  .btn {
    @apply mx-auto;
    width: 150px;
  }
}

.new-game__actions {
  @apply flex flex-col items-start gap-2;
  @media (max-width: 640px) {
    @apply items-center;
  }
}

.new-game__ai-settings {
  @apply p-3 rounded border border-white/20 mb-2 w-full;
}

.new-game .rule-list {
  @apply mt-8 pl-2 select-none;
  width: 305px;
  .hex-grid {
    font-size: 12px;
  }
}

.new-game h2 {
  margin: 0;
}

.markdown h3 {
  @apply mt-6;
}

.view-home {
  @apply flex flex-col gap-2 text-center;
  h2 {
    @apply mb-0;
  }
  .btn {
    @apply justify-center;
  }
}

.help-text {
  @apply fixed left-0 bottom-0;
  .alert {
    @apply mb-0;
  }
  &.-closed {
    @apply m-4;
  }
  @media (max-width: 640px) {
    bottom: unset;
    top: 77px; /* navbar height */
  }
}
