@import 'tailwind';
@import 'views';

/* Game pieces */
@import './hex';
@import './pieces';
@import './tutorial';

/* Components */
@import './scrollbar';
@import './game';
@import './chat';
@import './online-room';
@import './unrest';
@import './var';
@import './z-index';

#app, html, body {
  height: 100%;
}

body {
  overflow: hidden;
  &.theme-dark_mode {
    background: #234e52;
    .hex {
      filter: brightness(0.9)
    }
    .highlight-green {
      @apply bg-green-500;
    }
    .highlight-red {
      @apply bg-red-800;
    }
  }
}

/* TODO move into @unrest/tailwind? */
#app[data-v-app] {
  @apply flex flex-col;
  .router-view {
    flex-grow: 1;
  }
}

/* TODO everything below this needs to be reintegrated */

.router-view.debug {
  [data-index]:after {
    @apply -text-text -bg-bg;
    content: attr(data-index);
    position: absolute;
  }
}

.rjsf {
  .has-help {
    @apply flex items-center;
    label { @apply mr-2; }
  }
  #root_variants {
    legend {
      @apply block text-gray-600 text-sm font-bold mb-1;
    }
    .form-group {
      @apply mb-0;
    }
  }
}

.new-game__wrapper {
  @apply flex h-full items-center justify-center overflow-auto;
}

.new-game {
  @apply border p-4 shadow -bg-bg rounded-lg;
  @apply flex flex-col gap-4;
  width: 672px;
  &__row {
    @apply flex items-center gap-8;
  }
  &__col {
    @apply w-1/2;
  }
  &__hover-piece {
    @apply flex items-center text-3xl font-bold gap-x-2;
  }
  &__hover-inner {
    @apply relative;
    height: 32px;
    width: 36px;
  }
  &__preset {
    @apply flex pb-2;
  }
  &__presets {
    @apply flex flex-col items-center;
    .btn {
      @apply mx-auto;
      width: 150px;
    }
  }
  &__actions {
    @apply flex items-center gap-2;
  }
}

.new-game .rule-list {
  @apply mt-8 pl-2 select-none;
  width: 305px;
  .hex-grid {
    font-size: 12px;
  }
}

.new-game h2 {
  margin: 0;
}

.markdown h3 {
  @apply mt-6;
}

.view-home {
  @apply flex flex-col gap-2 text-center;
  h2 {
    @apply mb-0;
  }
  .btn {
    @apply justify-center;
  }
}

.help-text {
  @apply fixed left-0 bottom-0;
  .alert {
    @apply mb-0;
  }
  &.-closed {
    @apply m-4;
  }
  @media (max-width: $w-sm) {
    bottom: unset;
    top: 77px; /* navbar height */
  }
}