.piece.type-ant:before { background-image: url("../../../game/images/pieces/ant.svg"); }
.piece.type-beetle:before { background-image: url("../../../game/images/pieces/beetle.svg"); }
.piece.type-centipede:before { background-image: url("../../../game/images/pieces/centipede.svg"); }
.piece.type-grasshopper:before { background-image: url("../../../game/images/pieces/grasshopper.svg"); }
.piece.type-ladybug:before { background-image: url("../../../game/images/pieces/ladybug.svg"); }
.piece.type-mosquito:before { background-image: url("../../../game/images/pieces/mosquito.svg"); }
.piece.type-pill_bug:before { background-image: url("../../../game/images/pieces/pill_bug.svg"); }
.piece.type-queen:before { background-image: url("../../../game/images/pieces/queen.svg"); }
.piece.type-spider:before { background-image: url("../../../game/images/pieces/spider.svg"); }
.piece.type-dragonfly:before { background-image: url("../../../game/images/pieces/dragonfly.svg"); }
.piece.type-dragonfly_nymph:before { background-image: url("../../../game/images/pieces/dragonfly_nymph.svg"); }
.piece.type-fly:before { background-image: url("../../../game/images/pieces/fly.svg"); }
.piece.type-orchid_mantis:before { background-image: url("../../../game/images/pieces/orchid_mantis.svg"); }
.piece.type-praying_mantis:before { background-image: url("../../../game/images/pieces/praying_mantis.svg"); }
.piece.type-hornet:before { background-image: url("../../../game/images/pieces/hornet.svg"); }
.piece.type-scorpion:before { background-image: url("../../../game/images/pieces/scorpion.svg"); }
.piece.type-cockroach:before { background-image: url("../../../game/images/pieces/cockroach.svg"); }
.piece.type-cicada:before { background-image: url("../../../game/images/pieces/cicada.svg"); }
.piece.type-earthworm:before { background-image: url("../../../game/images/pieces/earthworm.svg"); }
.piece.type-trapdoor_spider:before { background-image: url("../../../game/images/pieces/trapdoor_spider.svg"); }
.piece.type-orbweaver:before { background-image: url("../../../game/images/pieces/orbweaver.svg"); }
.piece.type-lanternfly:before { background-image: url("../../../game/images/pieces/lanternfly.svg"); }
.piece.type-damselfly:before { background-image: url("../../../game/images/pieces/damselfly.svg"); }
.piece.type-emerald_wasp:before { background-image: url("../../../game/images/pieces/emerald_wasp.svg"); }
.piece.type-kung_fu_mantis:before { background-image: url("../../../game/images/pieces/kung_fu_mantis.svg"); }
.piece.type-lanternfly_nymph:before { background-image: url("../../../game/images/pieces/lanternfly_nymph.svg"); }

.piece.type-empty {
  /* used to make a place holder for justify-center on tutorial nav */
  opacity: 0;
  pointer-events: none;
}

.dummy_piece {
  height: 5.196em;
  width: 6em;
}

.piece {
  @apply flex items-center justify-center absolute w-full h-full z-0;
  cursor: pointer;

  /* some bugs are off center and need to be shifted */
  &.hex.type- {
    &scorpion:before, &dragonfly:before {
      margin-left: 4%;
    }
    &fly:before {
      margin-left: 15%;
    }
    &spider:before, &queen:before, &trapdoor_spider:before, &orbweaver:before {
      margin-top: 5%;
    }
    &orbweaver:before {
      height: 100%;
    }
    &earthworm:before {
      margin-top: 15%;
    }
    &orchid_mantis, &fly, &hornet, &pill_bug, &scorpion, &cockroach {
      &:before {
        transform: rotate(-30deg);
      }
    }
  }

  &.hex-player_2.hex.type-emerald_wasp:before {
    filter: brightness(1.25);
  }

  &.hex-player_2.hex.type- {
    &scorpion, &spider, &trapdoor_spider, &praying_mantis {
      &:before {
        filter: brightness(1.5);
      }
    }
  }

  &.hex-player_2.hex.gray.type- {
    &scorpion, &spider, &trapdoor_spider, &praying_mantis {
      &:before {
        filter: brightness(2.5);
      }
    }
  }

  &.hex.type-emerald_wasp:before {
    margin-top: 0.3em;
    width: 70px;
  }

  &.hex-player_2.hex.type- {
    &lanternfly:before {
      filter: brightness(1.25);
    }
  }

  .theme-carbon &:before {
    filter: brightness(0) !important;
  }
  .theme-carbon &.hex-player_2:before {
    filter: brightness(0) invert(1) !important;
  }
  &.type:before {
    content: "";
    display: block;
    width: 60%;
    height: 65%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
  }

  &.gray {
    filter: grayscale(0.5);
    &:before {
      opacity: 0.85;
    }
  }
}

/* webs - show where you can't move */
[data-web="crawl"]:after,
[data-web="crawl-gray"]:after,
[data-web="fly"]:after {
  content: '';
  background-image: url('../../../game/images/icons/trap_red.png');
  display: block;
  width: 80%;
  height: 80%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  opacity: 0.4;
  z-index: 3;
}

[data-web="crawl-gray"]:after {
  background-image: url('../../../game/images/icons/trap.png');
  filter: invert(1);
  opacity: 0.2;
}

[data-web="crawl"]:after,
[data-web="crawl-green"]:after {
  opacity: 0.8;
}

/* tutorial only */
.piece.type-basics,
.piece.type-onehive,
.piece.type-stacks {
  @apply flex items-center justify-center;
  &.hex-player_1 { color: #111; }
  &.hex-player_2 { color: white; }
  &:before {
    font-size: 3em;
    height: unset;
    width: unset;
  }
}

.piece.type-basics:before {
  content: "1";
}
.piece.type-onehive:before {
  content: "2";
}
.piece.type-stacks:before {
  content: "3";
}

/* stack size for NewGame */
[data-web="stack"]:after {
  @apply text-red-600 flex w-full h-full justify-center items-center absolute;
  content: "\f00d";
  font-family: "FontAwesome";
  font-size: 4rem;
  pointer-events: none;
}

/* rules for NewGame screen */
.piece.type-no_rules:before {
  background-image: url('../../../game/images/icons/cancel.png');
}

.piece.type-unlimited:before {
  background-image: url('../../../game/images/icons/endless.png');
}

.piece.type-no_rules, .piece.type-unlimited {
  &.hex-player_2:before {
    filter: invert(1);
  }
}
