@import "tailwindcss";

@theme {
  --color-app-bg: var(--color-bg);
  --color-app-surface: var(--color-surface);
  --color-app-text: var(--color-text);
  --color-app-text-alt: var(--color-text-secondary);
  --color-app-border: var(--color-border);
}
