@import './var';

.navbar__open, .navbar__close {
  @apply absolute hidden p-6 right-0 text-3xl top-0;
}

@media (max-width: $w-sm) {
  #app {
    padding-top: 77px;
  }
  .app-nav {
    @apply absolute left-0 right-0 top-0;
    align-items: flex-start;
    flex-direction: column;
    .navbar__open {
      display: block;
    }
    .app-nav__left ~ * {
      display: none;
    }
  }
  .app-nav.-nav-open {
    .navbar__open {
      display: none;
    }
    .navbar__close {
      display: block;
    }
    .app-nav__left ~ * {
      display: block;
    }
  }
}
