/* Game pieces */
/* @import './hex.scss'; */
/* @import './pieces.scss'; */

/* Components */
@import './scrollbar';
/* @import './Game.scss'; */
@import './chat';
/* @import './z-index.scss'; */
@import './online-room';

#app, html, body {
  height: 100%;
}

body {
  overflow: hidden;
  &.theme-dark_mode {
    background: #234e52;
    .hex {
      filter: brightness(0.9)
    }
    .highlight-green {
      @apply bg-green-500;
    }
    .highlight-red {
      @apply bg-red-800;
    }
  }
}

/* TODO move into @unrest/tailwind? */
#app[data-v-app] {
  @apply flex flex-col;
  .router-view {
    flex-grow: 1;
  }
}

/* TODO everything below this needs to be reintegrated */

.app-content.debug {
  [data-index]:after {
    @apply -text-text -bg-bg;
    content: attr(data-index);
    position: absolute;
  }
}

.TutorialNav {
  padding: 20px 0 0;
  font-size: 6.5px;
}

.rjsf {
  .has-help {
    @apply flex items-center;
    label { @apply mr-2; }
  }
  #root_variants {
    legend {
      @apply block text-gray-600 text-sm font-bold mb-1;
    }
    .form-group {
      @apply mb-0;
    }
  }
}

.NewGame {
  @apply border p-4 mt-8 shadow mx-2 flex-wrap -bg-bg;
  width: 672px;
  .rjsf {
    margin-right: 30px;
    width: 200px;
  }
  .RuleList {
    padding-left: 10px;
    width: 400px;
    @apply mt-8;
    .TutorialNav {
      font-size: 12px;
      flex-basis: 300px;
    }
  }
}

.markdown h3 {
  @apply mt-6;
}