/* Game pieces */
/* @import './hex.scss'; */
/* @import './pieces.scss'; */

/* Components */
@import './scrollbar.scss';
/* @import './Game.scss'; */
/* @import './Chat.scss'; */
/* @import './z-index.scss'; */

body {
  overflow: auto;
}

.app-content {
  position: relative;
  &:focus {
    outline: none;
  }
  .app-inner {
    background: #f5f2d0;
    bottom: 0;
    position: fixed;
    left: 0;
    top: 77px;
    right: 0;
    .theme-dark_mode & {
      background: theme('colors.teal.900');
      .hex {
        filter: brightness(0.9)
      }
      .highlight-green {
        @apply bg-green-500;
      }
      .highlight-red {
        @apply bg-red-800;
      }
    }
  }
}

.app-content.debug {
  [data-index]:after {
    @apply text--text bg--bg;
    content: attr(data-index);
    position: absolute;
  }
}

.TutorialNav {
  padding: 20px 0 0;
  font-size: 6.5px;
}

.rjsf {
  .has-help {
    @apply flex items-center;
    label { @apply mr-2; }
  }
  #root_variants {
    legend {
      @apply block text-gray-600 text-sm font-bold mb-1;
    }
    .form-group {
      @apply mb-0;
    }
  }
}

.NewGame {
  @apply border p-4 mt-8 shadow mx-2 flex-wrap bg--bg;
  width: 672px;
  .rjsf {
    margin-right: 30px;
    width: 200px;
  }
  .RuleList {
    padding-left: 10px;
    width: 400px;
    @apply mt-8;
    .TutorialNav {
      font-size: 12px;
      flex-basis: 300px;
    }
  }
}

.markdown h3 {
  @apply mt-6;
}