@import "./var.scss";

.ur-chat-widget {
  @apply border -bg-bg flex flex-col;
  flex-shrink: 0;
  top: 77px;
  width: $chat_w;
}

.ur-chat-widget .menu-bar {
  @apply -bg-bg-alt py-1 px-2 text-right;
}

.ur-chat-widget .room_list {
  @apply border-b p-2 mb-2;
  .room {
    @apply cursor-pointer;
    &.current {
      @apply font-bold;
    }
  }
}

.ur-chat-box {
  @apply flex flex-col h-full;
  .message-list {
    @apply flex-grow overflow-y-scroll p-4 pb-0;
  }
}

.ur-chat-widget .text-box {
  @apply mb-0 border-t flex justify-between;
  .input {
    @apply block px-2 py-1 w-full;
  }
}

.ur-chat-error {
  @apply fixed bottom-0 right-0 flex m-8;
  .fa {
    @apply text-yellow-900;
  }
}

.ur-chat-collapsed {
  @apply w-16 h-16 rounded-full cursor-pointer flex justify-center items-center m-4;
  @apply text-2xl text-white bg-blue-400;
  @apply fixed bottom-0 right-0;
}