@use "sass:math";
@import "./var.scss";

.game {
  @apply absolute inset-0;
  .scroll-box {
    overflow: scroll;
    height: 100%;
    width: 100%;
    .inner {
      height: 2000px;
      padding: 2 * $size (4 * $size);
      position: relative;
      width: 2000px;
      .hex-grid {
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        &.hex-pointy {
          transform: translate(-50%, -50%) rotate(30deg);
          .hex:before, .hex:after {
            transform: rotate(-30deg);
          }
        }
      }
    }
  }
}

.game {
  .player_1, .player_2 {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    .hex-grid.odd-q .item:nth-child(even) {
      /* the player pieces look weird if we don't shift the second column down */
      top: 2.7em;
    }
  }
  .player_1 {
    left: math.div($size, 2);
  }
  .player_2 {
    right: math.div($size, 2);
  }
}
